{% block meta %}
<meta name="spreadjs culture" content="zh-cn" />
<link rel="icon" href="/static/img/favicon.ico">
<link rel="stylesheet" href="/static/css/bootstrap.min-3.4.1.css" />
<link rel="stylesheet" href="/static/css/font-awesome.min-4.5.0.css" />
<script src="/static/js/jquery.min-3.7.1.js"></script>
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='/static/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="/static/js/bootstrap.min-3.4.1.js"></script>
<style>
html,body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:100%;
}
</style>
{% end %}