{% extends "layout/default.html" %}
{% block main_content %}
<link rel="stylesheet" href="/static/css/bootstrap-datepicker3.min.css" />
<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="/static/css/buttons.dataTables.min.css" />
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.buttons.min.js"></script>
<script src="/static/js/buttons.html5.min.js"></script>
<script src="/static/js/buttons.print.min.js"></script>
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/bootstrap-datepicker.zh-CN.min.js"></script>
<div style="width:100%;height: 100%;overflow: hidden;">
	<div class="table-header" style="width:100%;height:45px;">
        {{ web_module_data.name }}
        <div class="pull-right tableTools-container"></div>
    </div>
	<div class="row" style="width:100%;height:35px;">
		{% for index,element in enumerate(web_module_data.columns) %}
		{% if index <= 2 and element != 'change_rate' %}
			<div class="col-md-4" style="width:33.3%;display:inline-block;float:left;height:100%;">
				<div style="width:30px;display:inline-block;float:left;text-overflow:ellipsis;white-space:nowrap;">
                    {{ web_module_data.column_names[index] }}
                </div>
                <div style="width:calc(100% - 30px);display:inline-block;float:right;" id="filter_col{{ index + 1 }}" data-column="{{ index }}">
  				    <input type="text" style="width:calc(100% + 20px)" class="column_filter input-group-sm form-control {% if element == 'date' %}date-picker{% end %}" {% if element == 'date' %} value="{{ date_now }}" readonly="readonly" {% end %} id="col{{ index }}_filter">
                </div>
			</div>
		{% end %}
        {% end %}
	</div>
	<div style="width:100%;">
		<table id="dynamic-table" class="table table-striped table-bordered table-hover compact display nowrap" style="width:100%;white-space: nowrap;">
			<thead>
				<tr>{% for column_name in web_module_data.column_names %}
					<th>{{ column_name }}</th>
				{% end %}
				</tr>
			</thead>
		</table>
	</div>
</div>
<!-- inline scripts related to this page -->
<script type="text/javascript">
	jQuery(function($) {
		$( ".date-picker" ).datepicker({
			language: 'zh-CN', //设置语言
            format:"yyyy-mm-dd",
            showOtherMonths: true,
            selectOtherMonths: false,
            autoclose: true,
			todayHighlight: true,
			onSelect: function(selected,evnt) {
				 console.log(selected);
			}
        }).on('changeDate', function(ev){
			$('input.column_filter').keyup();//触发搜索
		});

        const nameParam = $.getUrlVar('table_name');
        const dateParam = "{{ date_now }}";
        const myTable = $('#dynamic-table').DataTable({
            "select": true,
            "sDom": "tr<'row'<'col-sm-2'l><'col-sm-4'i><'col-sm-6'p>>",
            "bFilter": true,
            "ordering": true,
            "processing": true,
            "serverSide": true,
            "deferRender": true,
            "scrollX": true,
            "scrollY": "calc(100vh - 160px)",
            "scrollCollapse": true,
            "flexibleWidth": false,
            "bAutoWidth": false,
            "lengthMenu": [[15, 30, 50, 100, 1000, -1], [15, 30, 50, 100, 1000, "All"]],
            "language": {
                "url": "/static/js/datatables.Chinese.json"
            },
            "ajax": "/instock/api_data?name=" + nameParam + "&date=" + dateParam,
            "columns": [
                {% for column in web_module_data.columns %}
                {% if column == 'code' %}
                {
                {% if web_module_data.order_columns is not None %}
                    "data": "{{ column }}", "render": function (data, type, row, meta) {
                        if (row.cdatetime === null){
                            return '<a href="/instock/data/indicators?code=' + data + '&date=' + row.date + '&name=' + row.name + '" target="_blank">' + data + '</a>';
                        }else{
                            return '<a href="/instock/data/indicators?code=' + data + '&date=' + row.date + '&name=' + row.name + '" target="_blank"><span style="color:red">' + data + '</span></a>';
                        }
                    }
                {% else %}
                    "data": "{{ column }}", "render": function (data, type, row, meta) {
                        return '<a href="/instock/data/indicators?code=' + data + '&date=' + row.date + '&name=' + row.name + '" target="_blank">' + data + '</a>';
                    }
                {% end %}
                },
                {% elif column == 'change_rate' %}
                {
                    "data": "{{ column }}", "render": function (data, type, row, meta) {
                        const val = row.change_rate;
                        let colour;
                        if(val < 0){colour = 'green';}
                        else if (val > 0){ colour = 'red';}
                        else{colour = 'black';}
                        return type === 'display' ? '<span style="color:' + colour + '">' + val + '</span>' : val;
                    }
                },
                {% else %}
                {"data": "{{ column }}"},
                {% end %}
                {% end %}
            ],
            order: []
        });

        $('input.column_filter').on( 'keyup', function () {
            const i = $(this).parents('div').attr('data-column');
            console.log(i,"val:",$(this).val());
			myTable.column(i).search(
				$(this).val()
			).draw();
		});

        $.fn.dataTable.ext.errMode = 'none';

		$.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';

		new $.fn.dataTable.Buttons( myTable, {
			buttons: [
			  {
				"extend": "copy",
                "style": "height:35px;",
				"text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
				"className": "btn btn-white btn-primary btn-bold"
			  },
			  {
				"extend": "csv",
                "style": "height:35px;",
				"text": "<i class='fa fa-database bigger-110 orange'></i> <span class='hidden'>Export to CSV</span>",
				"className": "btn btn-white btn-primary btn-bold"
			  },
			  {
				"extend": "print",
                "style": "height:35px;",
				"text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
				"className": "btn btn-white btn-primary btn-bold",
				autoPrint: false,
				message: 'This print was produced using the Print button for DataTables'
			  }
			]
		} );
		myTable.buttons().container().appendTo( $('.tableTools-container') );
	})
</script>
{% end %}
