name: Build Multi-Arch Docker Image

on:
  push:
    branches: [dev]
  workflow_dispatch:

    inputs:
      image_tag:
        description: 'Image tag version'
        required: true
       

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: birdxs/myinstock

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU for multi-platform build
        uses: docker/setup-qemu-action@v2
        with:
          platforms: arm64,amd64

      - name: Build and push multi-arch image
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            -t ${{ env.IMAGE_NAME }}:${{ inputs.image_tag }} \
            -t ${{ env.IMAGE_NAME }}:latest \
            --push \
            -f ./docker/Dockerfile .
